// generic transform
@mixin transform($transforms) {
	  -moz-transform: $transforms;
	  -o-transform: $transforms;
	  -ms-transform: $transforms;
	  -webkit-transform: $transforms;
    transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

.issue-link{
    color: black;
    &:hover{
        color: black;
        text-decoration: none;
    }
}

.issues-list{
    list-style-type: none;

    li.issue{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;

        .panel-heading{
            height: 150px;
        }

        .panel-body{
            height: 250px;
        }
        &:not(.hidden){
            &:nth-last-child(3){
                @include rotate(2);
            }
            &:nth-last-child(4){
                @include rotate(-2);
            }
            &:last-child{
                @include rotate(0);
            }
        }
    }
}

.issue-body{
    overflow-x: scroll;
}

.last-update-wrapper{
    font-style: italic;
}
