.issues-list{
    list-style-type: none;

    li.issue{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;

        .panel-heading{
            height: 150px;
        }

        .panel-body{
            height: 350px;
        }
    }
}

.issue-body{
    overflow-x: scroll;
}

.last-update-wrapper{
    font-style: italic;
}
