<%= if @access_token do %>
    Which repo would you like to clean?


<% else %>
    <a class="btn btn-primary btn-lg" href="<%= auth_path @conn, :index, "github" %>">
        <i class="fa fa-github"></i>
        Sign in with GitHub
    </a>
<% end %>
